src/main/mule/code/code-file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<!-- [STUDIO:"code-fileFlow"]<flow name="code-fileFlow" doc:id="1df6209a-36f7-4b07-be8a-625dfcf87b5c" >
		<file:listener doc:name="On New or Updated File" doc:id="d1050041-30fe-4aad-aa59-b79b3cdb4be0" config-ref="File_Config" directory="D:\Documentos\documentos-ingeniero-binario-2025\CLASE-8\Ejemplos\Files\new" recursive="false" moveToDirectory="D:\Documentos\documentos-ingeniero-binario-2025\CLASE-8\Ejemplos\Files\processed" overwrite="true">
			<scheduling-strategy >
				<fixed-frequency frequency="2" timeUnit="MINUTES" startDelay="1"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="list processed flights" doc:id="44d9bbca-e305-4fc8-8cd8-7b4153d9675d" message='#[%dw 2.0&#10;output application/json&#10;&#45;&#45;-&#10;{&#10;	message: "list processed flights",&#10;	content: {&#10;		payload: payload,&#10;		vars: vars,&#10;		attributes: attributes&#10;	}	&#10;}&#93;' />
	</flow> [STUDIO] -->
</mule>
